<meta charset="UTF-8">
<meta name="author" content="Sebastián Thomson">
<meta name="contact" content="seba.thomson@gmail.com">

<title>OCASS Panel</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-datepicker3.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/app/css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/app/css/app.min.css') }}">

<style>
    .huincha-verde-arriba {
        background-image: url('{{ asset('bundles/app/images/huincha_verde_1.png') }}');
        height: 52px;
    }
    .huincha-verde-abajo {
        background-image: url('{{ asset('bundles/app/images/huincha_verde_2.png') }}');
        height: 52px;
    }
    body {
	zoom: 0.75!important;
    }
</style>

<script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootbox.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap-datepicker.es.min.js') }}"></script>
    
